.task-row{
    padding: 7.5px 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
input[type=text]{
    box-sizing: border-box;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin-left: 15px;
    border: #099f4b solid 1px;
    font-size: 16px;
    background: transparent;
}

.duration{
    max-width: 45px;
}
.completed-item {
     text-decoration: line-through;
}
.list-container{
    border-left: 1px solid #2f905a;
    padding: 0 30px;
    margin-left: 30px;
    overflow: hidden;
}
.list-header{
    justify-content: space-between;
}
.trash-can-btn {
    background: transparent;
    padding: 0;
}
.trash-can-btn:hover{
    background: transparent;
}
.trash-can-btn img{
    width: 30px;
    margin-left: 15px;
}
input{
    width: 100%;
    padding: 8px;
}
input:focus{
    outline: none;
}

.clear-btn{
    margin-top: 50px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
    padding: 7.5px;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}

