.action-btn{
    background-color: #2f905a;  
}
.add-btn{
  width: 45px;
  height: 45px;
  padding: 0;
}
button{
    padding: 12px 40px;
    font-size: 15px;
    color: #54ff9f;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
}
.app-title{
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 45px;  
  color: #427056;
  text-shadow: 0 1px 1px #031708;
}
button:hover{
  cursor: pointer;
  background-color: #227748;
}
button:focus{
  outline: none;
  border: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.flex-row-center{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.flex-to-right{
  margin-left: auto;
}

/* .squaredThree */
.squaredThree {
  width: 20px;
  position: relative;
}
.squaredThree  input[type=checkbox] {
    visibility: hidden;       
}
.squaredThree input[type=checkbox]:checked + label:after {
    opacity: 1;
} 
.squaredThree  label {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    /*top: 0;*/
    left: 0;
    background: #13b35a;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  }

  .squaredThree label:hover::after {
      opacity: 0.3;
  }

  .squaredThree label:after {
        content: '';
        width: 10px;
        height: 4px;
        position: absolute;
        top: 5px;
        left: 4px;
        border: 2px solid #fcfff4;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
    }
/* end .squaredThree */